<div class="post-page">
    <div *ngIf="post | async as postData">
        <mat-card class="post-container mat-elevation-z2">
            <mat-card-header>
                <mat-card-title>{{postData?.title}}</mat-card-title>
                <mat-card-subtitle>{{postData?.user?.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{postData?.body}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <app-comment-list></app-comment-list>
    </div>
</div>